.nav{
    grid-area: n;
    background-color: #4650c7;
    padding-top: 25px;
}

.name {
    width: 177px;
    height: 30px;
    border-radius: 5px;
    padding-left: 23px;
    padding-top: 3px;
}

.name:hover {
    background-color: #2d47cc;
}

.item a{
    color: white;
    text-decoration: none;
}